<section class="border-container">
  <section class="about">
    <fieldset>
      <legend>Om mig</legend>
      <div class="flex__content">
        <div>
        <p>Hej jeg hedder <b>Jacob Erholt</b>, jeg er 20 år gammel. Jeg kan godt lide at skrive kode,
        samt løse teknologiske problemer. </p>
        <br>
        <p>Jeg stræber efter at finde smarte og dynamiske løsninger til problemer, jeg støder ind i.</p>
        <br>
        <p>I min fritid bruger jeg meget tid foran computeren, hvor jeg spiller forskellige spil. </p>
        <p>Både skydespil, strategi og spil hvor man udfordre sit kreative sind.</p>
        </div>
        <div>
          <img style="border-radius:50%;" src="<%= @avatar_url %>" alt="Avatar from github, used as profile pic">
        </div>
      </div>
    </fieldset>
  </section>
  <section class="timeline">
    <fieldset>
      <legend>Tidslinje</legend>
        <ul>
          <li>2023-? - Junior Software Engineer hos Karnov Group </li>
          <li>2022-2022 - Praktik hos Karnov Group </li>
          <li>2019-2022 - Digital Media hos Roskilde Tekniske Skole</li>
          <li>2018-2019 - Efterskole</li>
          <li>2008-2018 - Folkeskole</li>
        </ul>
    </fieldset>
  </section>
</section>